.btn-primary {
    @apply bg-pj-blue text-pf-white py-4 px-8 border-none rounded-md text-base cursor-pointer no-underline inline-block transition-all duration-300 ease-in-out;
}

.btn-primary:hover {
    @apply bg-[#2980b9];
}

.btn-secondary {
    @apply bg-[#95a5a6] text-pf-white pt-3 px-6 border-none rounded-md cursor-pointer transition-all duration-300 ease-in-out;
}

.btn-secondary:hover {
    @apply bg-pj-grey;
}