.btn-primary {
    @apply font-fira bg-pj-blue text-pj-white py-4 px-8 border-none rounded-md text-base cursor-pointer no-underline inline-block transition-all duration-300 ease-in-out;
}

.btn-primary:hover {
    @apply bg-[#2980b9];
}

.btn-secondary {
    @apply font-fira bg-[#95a5a6] text-pj-white py-3 px-6 border-none rounded-md cursor-pointer transition-all duration-300 ease-in-out;
}

.btn-secondary:hover {
    @apply bg-pj-grey;
}