.nav-menu a:hover,
.nav-menu a.active {
    @apply text-pj-blue;
}

.btn-logout {
    background-color: #e74c3c;
    padding: 0.5rem 1.5rem;
    border-radius: 5px;
}

.btn-logout:hover {
    background-color: #c0392b;
    color: white !important;
}