@import "tailwindcss";

@import "./header.css";
@import "./buttons.css";

@config "../tailwind.config.js";

* {
    box-sizing: border-box;
}

body {
    @apply text-[#333] bg-[#f4f4f4] font-fira font-normal;
}